nav span{
  color: white;
  font-weight: bolder;
}

nav.sidebar {
  padding-top: 3em;
}

.list1 {
  font-weight: bold;
}

.list1 ul{
  font-weight:normal;
}

.lists1 li {
  max-width: 30px;
}

.list1 li div{
  max-width: 1em;
}

.gamearea td{
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

tbody {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.gamearea {
  margin: 10%;
}

#user {
  background-color: black;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.wall {
  background-color: blue;
}

.exit {
  background-color: green;
}
