html {
    background-color: rgb(52, 58, 64);
}

nav span, h2{
  color: white;
  font-weight: bolder;
}

main.col-md {
  background-color: rgb(250,250,210);
}

nav.sidebar {
  padding-top: 4em;
  background-color: rgb(200, 200, 250);
}

.list1, h6{
  font-weight: bold;
}

.list1 ul{
  font-weight:normal;
}

.lists1 li {
  max-width: 30px;
}

.list1 li div{
  max-width: 1em;
}

.gamearea td{
  //border: 1px solid black;
  width: 40px;
  height: 40px;
}

tbody {
  border: 1px solid black;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.gamearea {
  margin: 10%;
}

#user {
  background-color: black;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.wall {
  background-color: rgb(139,141,122);
  border: 1px solid black;
}

.exit {
  background-color: green;
}
