.gamearea td{
  border: 1px solid black;
  width: 27px;
}

tbody {
min-width: 300px;
min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.gamearea {
  margin: 10%;
}

#user {
  background-color: black;
}
