.gamearea td{
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

tbody {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.gamearea {
  margin: 10%;
}

#user {

  background-color: black;
  width: 30px;
  height: 30px;
  margin: 5px;

}

.wall {
  background-color: blue;
}
